<div class="d-flex bg-general text-color justify-content-center mx-5">
    <div class="d-flex flex-column bg-block rounded-4 p-3" style="flex: 1 0 300px; margin-right: 40px;">
        <div>
            @if (selectedSubject) {
            <p class="filter-selected"> {{ getSubjectName(selectedSubject) }}</p>
            }
            @if(selectedGrade) {
            <p (click)="toggleSubjectsMenu()"> {{ getGradeName(selectedGrade) }}</p>
            }
        </div>
        <div id="subjects-menu">
            <h2 (click)="toggleSubjectsMenu()" class="hover-accent">Список предметів</h2>
            <ul class="list-group" [hidden]="isSubjectsMenuCollapsed">
                <li class="border border-dark list-group-item" *ngFor="let subject of subjects;"
                    [attr.id]="generateId(subject)">
                    <a [routerLink]="[]" [queryParams]="{ subject: subject }" queryParamsHandling="merge"
                        (click)="onSubjectSelected(subject)">
                        {{ getSubjectName(subject) }}
                    </a>
                </li>
            </ul>
        </div>
        <div id="grades-menu">
            <h2 (click)="toggleGradesMenu()" class="hover-accent">Список рівнів навчання</h2>
            <ul class="list-group" [hidden]="isGradesMenuCollapsed">
                <li class="border border-dark list-group-item" *ngFor="let grade of grades;"
                    [attr.id]="generateId(grade)">
                    <a [routerLink]="[]" [queryParams]="{ grade: grade }" queryParamsHandling="merge"
                        (click)="onGradeSelected(grade)">
                        {{ getGradeName(grade) }}
                    </a>
                </li>
            </ul>
        </div>
        @if(tutors.length > 0){
        <ul>
            @for(tutor of tutors; track tutor.email){
            <li>
                {{ tutor.firstName + ' ' + tutor.lastName}}
                }@empty {
            <li>
                <p>Поки у нас нема стільки репетиторів 😓</p>
            </li>
            }
        </ul>
        }
    </div>

    <div class="w-100 bg-block rounded-4">
    </div>

</div>