
input{
    color: white;
}

[contenteditable][placeholder]:empty:before {
  content: attr(placeholder);
  position: absolute;
  color: gray;
  background-color: transparent;
}

.input-wrapper{
    width: 100%;
    display: flex;
    margin: 0.5rem 0;
}

.input-wrapper p{
    width: 20%;
    font-weight: 700;
    flex-shrink: 0;
}

p{
    font-size: 1rem;
    display: flex;
    align-items: flex-end;
    align-content: center;
}

.input-wrapper input{
    width: 80%;
    height: 35px;
    background-color: #2f363c;
    border: 1px solid black;
    border-radius: 6px;
    margin-bottom: 5px;
    padding: 6px 8px;
    transition: .1s;
}

.grade-selector {
    width: 300px;
    margin: 20px auto;
  
    .dropdown {
      position: relative;
  
      .dropdown-button {
        width: 100%;
        padding: 10px;
        cursor: pointer;
        background-color: #2f363c;
        color: white;
        border: none;
        text-align: left;
      }
  
      .dropdown-content {
        position: absolute;
        width: 100%;
        max-height: 200px;
        overflow-y: auto;
        background-color: #2f363c;
        border: 1px solid black;
        z-index: 1;
  
        div {
          padding: 10px;
          cursor: pointer;
          &:hover {
            background-color: #2f363c;
          }
        }
      }
    }
  
    .selected-grades {
      margin-top: 10px;
  
      .grade-chip {
        display: inline-block;
        cursor: pointer;
        padding: 5px 10px;
        margin: 5px;
        background-color: #2f363c;
        color: white;
        border: 1px solid black;
        border-radius: 16px;
  
        .remove-button {
          margin-left: 10px;
        }
      }
    }
  }